.container{
text-align: center;
  padding: 5px;

  justify-content: center;
  display: flex;
}
.container > div {
    margin: 5px;
    text-align: center;
    
    font-size: 14px;
    border-style: solid;
    font-family: Arial;
    background:#1E90FF;
}
.title{
    flex-direction:column ;
    
}

.image{
    overflow: hidden;
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;

    img {
        height: 100%;
    }
}

.paragraph{
    flex-direction: column;
    width: 50%;
}